extends layout

block feet
  script(src='/views/index.js')

block content
    .container(style='margin-top: 100px;')
        .row
            .col-lg-8
              div#blog-post
            .col-md-4
              .well#search-section
              .well#search-result
        .row#form-section

    script(type='text/template', id='tmpl-query')
      h4 Title Search
      .input-group
        input.form-control#search-tag(type='text')
        span.input-group-btn
          button.btn.btn-default.btn-search(type='button')
            span.glyphicon.glyphicon-search

    script(type='text/template', id='tmpl-post')
      div#actions
        .btn-group
          button.btn.btn-primary.btn-filter 日期排序
          button.btn.btn-primary.btn-format 日期格式
      <% _.each(posts, function(post) { %>
      .well(style='margin-top: 20px;')
        h1 <%= post.title %>
        h2 作者: <%= post.userId.displayName %>
        p 字數: <%= post.wchars %>
        <% if (post.orders.length === 0) { %>
        button.btn.btn-default(data-purchase-for!='<%= post._id %>') 購買全文
        <% } else if (post.granted === true) { %>
        button.btn.btn-primary(data-purchase-for!='<%= post._id %>') 己購買
        <% } else { %>
        a.btn.btn-danger(href!='<%= post.orders[0].paypal.links[1].href %>', target='_blank') 線上付款
        <% } %>
      <% }); %>

    script(type='text/template', id='tmpl-results')
      h4 Search Result
      <% _.each(posts, function(post) { %>
      p <%= post.subject %>
      <% }); %>

    script(type='text/template', id='tmpl-form')
      form.form-horizontal
        h3 Leave a Message
        .form-group(class!='<%= errfor.title ? "has-error" : "" %>')
          label.control-label(for='title') Title
          input.form-control#title(name='title', type='text')
          label.has-error.control-label.pull-right <%= errfor.title %>
        .form-group(class!='<%= errfor.content ? "has-error" : "" %>')
          label.control-label(for='subject') Content
          textarea.form-control#content(name='content')
          label.has-error.control-label.pull-right <%= errfor.content %>
        .form-group
          button#btn-submit.btn.btn-primary(name='btn-submit') Save